<p-toolbar styleClass="shadow-2 mb-2">
  <div class="p-toolbar-group-start">
    <p-button label="Nuevo Crédito" icon="pi pi-plus" class="mr-2"
              styleClass="p-button-rounded p-button-success" (onClick)="openForm()"
    ></p-button>
  </div>
</p-toolbar>

<p-table [value]="credits" styleClass="shadow-2 p-datatable-striped p-datatable-sm" [paginator]="true"
         [rows]="20" [scrollable]="true" [scrollHeight]="'calc(100vh - 270px)'">
  <ng-template pTemplate="header">
    <tr>
      <th>Crédito</th>
      <th>Monto Mínimo</th>
      <th>Monto Máximo</th>
      <th>Tasa de interés</th>
      <th class="w-10rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-credit>
    <tr>
      <td>{{ credit['name'] }}</td>
      <td>{{ credit['minimumamount'] }}$</td>
      <td>{{ credit['maximumamount'] }}$</td>
      <td>{{ credit['interestrate'] }}%</td>
      <td>
        <p-button icon="pi pi-dollar"
                  styleClass="p-button-rounded p-button-help mr-2"
                  (onClick)="openFormCharges(credit)"></p-button>
        <p-button icon="pi pi-pencil"
                  styleClass="p-button-rounded mr-2"
                  (onClick)="openForm(credit)"></p-button>
        <p-button icon="pi pi-trash" styleClass="p-button-rounded  mr-2  p-button-danger"
                  (onClick)="delete(credit, $event)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-form-credit [sharedData]="sharedData" (submit)="save()" *ngIf="sharedData.isVisible"></app-form-credit>
<app-form-charges [sharedData]="sharedDataCharges" *ngIf="sharedDataCharges.isVisible"
                  (submit)="updateCharges($event)" [charges]="charges"></app-form-charges>


